.work-environment-list-container {
  padding: 20px;

  .actions-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    mat-form-field {
      width: 300px;
    }
  }

  .table-container {
    position: relative;
    min-height: 200px;
    overflow: auto;

    .loading-shade {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.15);
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  table {
    width: 100%;
  }

  a {
    color: #7a1c46;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
